$button-color: #4caf50;
$border-color: #f1f1f1;


.form{
    width: 100%;
   
    img.avatar {
      margin-bottom: 20px;
      width: 40%;
    }
  
    .borderBox {
      border:2px solid #f2f2f2;
      margin-top: 40px;
      padding:84px;
    }
    input[type="email"],
    input[type="password"] {
      border: 1px solid $border-color;
      box-sizing: border-box;
      display: inline-block;
      margin: 8px 0;
      padding: 12px 20px;
      width: 100%;
    }
    .error {
      color: #b22222;
    }
  
    .login {
      background-color: $button-color;
      border: none;
      color: #FFF;
      cursor: pointer;
      margin: 8px 0;
      padding: 14px 20px;
      width: 100%;
  }
  }
  