$button-color: #4caf50;
$border-color: #f1f1f1;
.input-comment {
    width: 100%;
}
.form-modal {
    border: none;
}
.invalid {
    color: #b22222;
}
.add-comment-button {
    background: none;
    border: none;
    border-radius: 6px;
    color: $button-color;
    float: left;
    font-size: 18px;
    font-weight: 500;
    margin-left: 12px;
    margin-top: 2px;
    text-decoration: solid;
}
.modalStyle {
    border-radius: 10px;
    margin: 10% auto;
    min-height: 87px;
    padding: 5px 20px 13px;
    position: relative;
}
.comment-button {
    background-color: $button-color;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    margin-right: 3px;
    margin-top: 15px;
}
.show-comment-button {
    background-color: $button-color;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    float: right;
    margin-right: 12px;
}